<header>
	<div class="pure-menu pure-menu-horizontal ">
		<a href="#" class="pure-menu-heading pure-menu-link">Angulando</a>
		<nav class="navUsuario">
			<ul class="pure-menu-list">
				<li class="pure-menu-item">
					<a href="#" class="pure-menu-link">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</nav>

		<nav class="navOffline">
			<ul class="pure-menu-list">
				<li class="pure-menu-item"><a href="#" class="pure-menu-link">Registro</a></li>
				<li class="pure-menu-item"><a href="#" class="pure-menu-link">Login</a></li>
			</ul>
		</nav>
	</div>
</header>