header {
    background: #ccc;
    border: 2px solid #999;
    padding: 10px;
}

nav {
  float: left;
  margin-bottom: 0;
}

.pure-menu-item {
  height: auto;
}

.navOffline, .navUsuario {
  float: right;
}

ul{list-style: none;}

