header {}
.titulo-web img{
  border-radius:50%; 
  height: auto;
  width: 45px;
  float: left;
  margin: 2px 5px 0 0;
}
nav {
  float: left;
  margin-bottom: 0;
}

.navOffline, .navUsuario {
  float: right;
}
ul {
  list-style: none;
}

.navbar-brand {
    font-size: 27px;
    color: #92090d;
    font-weight: bold;
}