<nav class="menu-filtro-post">
	<form class="form-inline">
		<div class="form-group">
			<label for="titulo">Título</label>
			<input type="text" class="form-control" id="titulo" placeholder="Título del post">
		</div>
		<div class="form-group">
			<label for="usuario">Usuario</label>
			<input type="text" class="form-control" id="usuario" placeholder="Usuario">
		</div>
		<select class="form-control">
			<option>Categoría</option>
			<option>Angulando</option>
			<option>Js</option>
			<option>TypeScript</option>
			<option>Html</option>
			<option>Css</option>
			<option>Component</option>
		</select>	
	</form>
</nav>
<br>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Tema</th>
			<th>Categoria</th>
			<th>Usuarios</th>
			<th>Respuesta</th>
			<th>Visitas</th>
			<th>Actividad</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let itm of items">
			<td>{{ itm.titulo }}</td>
			<td>{{ itm.categoria }}</td>
			<td>
				<a *ngFor="let usr of itm.usuarios" href="#" [class]="usr.icono" title="{{ usr.nombre }}"></a>
			</td>
			<td>{{ itm.respuestas }}</td>
			<td>{{ itm.vistas }}</td>
			<td>{{ itm.actividad | amTimeAgo }}</td>
		</tr>
	</tbody>
</table>
